body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-layout {
  display: flex;
}

.custom-side-nav {
  flex: 0 0 auto;
  min-width: 15vw;
  max-width: 15vw;
  overflow: hidden;
}

.nav-header {
  max-width: 15vw;
}

.outlet {
  padding: .5%;
  flex: 1;

}

.nav-header {
  text-align: center;
  color: rgb(0, 152, 229);
}

.badge.danger {
  background-color: rgb(251, 57, 57);
  color: white;

  min-height: 2.5vh;
  min-width: 2.5vh;
  border-radius: 5vh;

  /* Center the text horizontally and vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}

.dsg-container {
  min-height: 80vh;
  margin-right: 15vw;
}

.grid-notes {
  min-width: 0vw;
}

.loader {
  /* Center the text horizontally and vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-sheets {
  max-width: 10vw;
  max-height: 4vh;
  margin: 1vh 0 1vh 0;
}

.inventory-search {
  width: 20vw;
  margin: 0 .5vw 0 0;
}

#SearchTypeSelector {
  max-width: 10vw;
}

.main-search {
  display: flex;
  margin-bottom: 1vh;
}

#datetimepicker {
  max-width: 20vw;
  margin: 0 .5vw 0 0;
}

.submit-btn {
  min-width: 5vw;
  margin: 0 .5vw 0 .5vw;
}

.reset-btn {
  /* Center the text horizontally and vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}

.authentication-form-container {
  position: relative; /* Add relative positioning */
  background-color: white;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  padding: 2vh 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authentication-form {
  width: 100%;
}

.authentication-form * {
  margin-bottom: 1vh;
}

.authentication-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .authentication-form-container {
    max-width: 90%;
  }
}

.my-alert {
  position: absolute;
  top: 5%;
}

.submit {
  width: 100%;
  height: 3.75vh;
  
  /* Center the text horizontally and vertically */
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
}

.oval {
  overflow: hidden;
}

.searchFilters {
  display: flex;
  justify-content: space-between;
}

.userGroupsFilter {
  margin-bottom: .5rem;
}

.createUser {
  right: 0;
}

.account-creation-form-field {
  margin-bottom: 1.5vh;
}